<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="courseBean"
		class="myproject.constructordepeninjection.beans.Course">
		<constructor-arg value="Java Spring Framework" index="1"/>
		<constructor-arg value="C-111" index="0"/>
		
	</bean>

	
</beans>